@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: 'InriaSerif';
  src: url('/fonts/InriaSerif-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-custom {
  font-family: 'InriaSerif', sans-serif;
}

.bgImage {
  backdrop-filter: blur(10px);
}

body {
  color: #ededed;
  font-family: Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flexCenter {
  @apply flex items-center justify-center;
}

.flexBetween {
  @apply flex w-full items-center justify-between;
}

.inputCommon {
  @apply border-b border-gray-600 bg-transparent py-2 text-sm focus:border-gray-300 focus:outline-none;
}

.buttonStyle {
  @apply rounded-md bg-orange-500 py-4 text-center font-bold;
}

.mainStyle {
  @apply flex flex-col items-center justify-center gap-1 text-center;
}
